h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

view h2{
    color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(#ffffff);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

form input,
form button {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

form button {
    background-color: rgb(66, 133, 244);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
form button:hover {
    background-color: rgb(50, 100, 200);
}

.bt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(66, 133, 244);
    font-size: 16px;
}
.bt:hover {
    text-decoration: underline;
}

